.form-inline.clearfix
	.nested-fields

		= f.date_select :data, input_html: { class: 'form-input form-control' }
		= f.input :activity, collection: [ "macchinista", "elettricista", "service"], input_html: { class: 'form-input form-control' }
		= f.input :location_id, input_html: { class: 'form-input form-control' }
		= link_to_remove_association "Remove", f, class: "form-button btn btn-default"
